Repository pixconf/pixconf: changes, and which Codecov flags are due for each by the changed paths.
All: agent, hub, secrets

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0%

flags:
  agent:
    paths:
      - cmd/agent/*
      - internal/app/agent/*
  hub:
    paths:
      - cmd/hub/*
      - internal/app/hub/*
  secrets:
    paths:
      - cmd/secrets/*
      - internal/app/secrets/*

feat(agent): add cmd runtime
  cmd/agent/main.go
  go.mod
  go.sum
  internal/app/agent/agent.go
  internal/app/agent/cmd/cmd.go
  internal/app/agent/execute.go
Due: agent

fix(agent): linter error
  internal/app/agent/execute.go
Due: agent

chore: move generator secret id
  internal/xid/secret.go
  internal/xid/secret_test.go
Due: none

fix(ci): remove cache for go
  .github/workflows/main.yml
Due: none

fix(secrets): graceful shutdown
  internal/app/secrets/api.go
  internal/app/secrets/execute.go
  internal/app/secrets/secrets.go
Due: secrets

fix(secrets): linter error
  internal/app/secrets/api.go
Due: secrets

fix: rename system table
  internal/dbmigrator/migrate.go
  internal/dbmigrator/migrate_test.go
Due: none

feat: add tests for enctypt
  internal/encrypt/aesgcm_test.go
  internal/encrypt/chachapoly_test.go
  internal/encrypt/encrypt_test.go
Due: none

feat: add tests for dbmigrate
  internal/dbmigrator/migrate_test.go
Due: none

fix(docs): link to branch
  readme.md
Due: none

feat(agent): add graceful shutdown
  internal/app/agent/agent.go
  internal/app/agent/api.go
  internal/app/agent/execute.go
Due: agent

feat(agent): add api info and client
  internal/app/agent/api.go
  internal/app/agent/api_info.go
  internal/app/agent/cmd/cmd.go
  internal/app/agent/cmd/info.go
  internal/app/agent/execute.go
  internal/xerror/errors.go
  pkg/agent/client/api_info.go
  pkg/agent/client/client.go
  pkg/agent/client/http_client.go
  pkg/agent/protos/info.go
Due: agent

fix(agent): linter errors
  internal/app/agent/api_info.go
Due: agent

fix(secrets): get private key
  go.mod
  go.sum
  internal/app/secrets/postgres/epoch.go
  internal/encrypt/encrypt.go
Due: none

fix(secrets): fix create tables
  internal/app/secrets/postgres/migrations/00002_create_secret.go
Due: none

chore(secrets): move protos to pkg
  internal/app/secrets/api_transit_decrypt.go
  internal/app/secrets/api_transit_encrypt.go
  pkg/secrets/protos/transit.go
Due: secrets

feat: add validate secret id
  internal/xid/secret.go
  internal/xid/secret_test.go
Due: none

fix: move validation chars to const
  internal/xid/secret.go
Due: none

fix: change name for validator
  internal/xid/secret.go
  internal/xid/secret_test.go
Due: none

chore(docs): add note to readme
  readme.md
Due: none

feat(secrets): add prefix to secret id
  internal/xid/secret.go
  internal/xid/secret_test.go
Due: none

feat(ci): add codecov token
  .github/workflows/main.yml
Due: none

feat(ci): delete codecov token
  .github/workflows/main.yml
Due: none

feat: add tests for autocert
  internal/autocert/cert_test.go
  internal/autocert/ecdsa_self_signed_test.go
  internal/autocert/tls_config_test.go
Due: none

chore(agent): move code
  cmd/agent/agent/agent.go
  cmd/agent/agent/api.go
  cmd/agent/agent/api_info.go
  cmd/agent/agent/cmd/cmd.go
  cmd/agent/agent/cmd/info.go
  cmd/agent/agent/execute.go
  cmd/agent/main.go
Due: agent

fix(secrets): change db struct
  internal/app/secrets/postgres/migrations/00002_create_secret.go
Due: none

feat: add tests for xerror pkg
  internal/xerror/errors_test.go
Due: none

feat(secrets): add create and read endpoints
  Makefile
  docker-compose.dev.yml
  go.mod
  go.sum
  internal/app/secrets/api.go
  internal/app/secrets/api_secret_create.go
  internal/app/secrets/api_secret_detail.go
  internal/app/secrets/api_secret_list.go
  internal/app/secrets/postgres/secret.go
  internal/app/secrets/postgres/secret_create.go
  internal/app/secrets/postgres/secret_detail.go
  internal/app/secrets/postgres/secret_list.go
  internal/dbmigrator/migrate.go
  internal/dbmigrator/migrate_test.go
  internal/encrypt/value_test.go
  pkg/secrets/protos/secret.go
  pkg/secrets/protos/secret_create.go
  pkg/secrets/protos/secret_create_test.go
  pkg/secrets/protos/secret_detail.go
  pkg/secrets/protos/secret_list.go
  pkg/secrets/protos/validate_secret_alias.go
  pkg/secrets/protos/validate_secret_alias_test.go
  pkg/secrets/protos/validate_secret_state.go
  pkg/secrets/protos/validate_secret_state_test.go
  pkg/secrets/protos/validate_secret_tag.go
  pkg/secrets/protos/validate_secret_tag_test.go
Due: secrets

feat: add tests for generate secret id
  internal/xid/secret_test.go
Due: none

fix: add missing depends
  go.mod
Due: none

fix: linter error
  internal/xid/secret_test.go
Due: none

fix: tests for secrets protos
  pkg/secrets/protos/secret_create_test.go
  pkg/secrets/protos/secret_update.go
  pkg/secrets/protos/validate_secret_alias_test.go
  pkg/secrets/protos/validate_secret_tag.go
  pkg/secrets/protos/validate_secret_tag_test.go
Due: none

fix: tests for secrets protos
  pkg/secrets/protos/secret_create_test.go
  pkg/secrets/protos/validate_secret_alias_test.go
Due: none

feat: add tests for encrypt
  internal/encrypt/encrypt_test.go
  internal/encrypt/generator_test.go
  internal/mock/reader.go
  internal/xid/secret_test.go
Due: none

feat: add test in encrypt
  internal/encrypt/aesgcm_test.go
  internal/encrypt/chachapoly_test.go
Due: none

fix: linter error
  .golangci.yml
  internal/encrypt/chachapoly_test.go
Due: none

feat: add validate value encryption key
  internal/encrypt/value.go
  internal/encrypt/value_test.go
Due: none

chore(secrets): move code
  cmd/secrets/main.go
  cmd/secrets/secrets/api.go
  cmd/secrets/secrets/api_secret_create.go
  cmd/secrets/secrets/api_secret_delete.go
  cmd/secrets/secrets/api_secret_detail.go
  cmd/secrets/secrets/api_secret_list.go
  cmd/secrets/secrets/api_secret_update.go
  cmd/secrets/secrets/api_transit_decrypt.go
  cmd/secrets/secrets/api_transit_encrypt.go
  cmd/secrets/secrets/background.go
  cmd/secrets/secrets/config/config.go
  cmd/secrets/secrets/execute.go
  cmd/secrets/secrets/postgres/client.go
  cmd/secrets/secrets/postgres/epoch.go
  cmd/secrets/secrets/postgres/migrations/00001_create_epoch.go
  cmd/secrets/secrets/postgres/migrations/00002_create_secret.go
  cmd/secrets/secrets/postgres/migrations/migrations.go
  cmd/secrets/secrets/postgres/secret.go
  cmd/secrets/secrets/postgres/secret_create.go
  cmd/secrets/secrets/postgres/secret_detail.go
  cmd/secrets/secrets/postgres/secret_list.go
  cmd/secrets/secrets/secrets.go
Due: secrets

feat: add tests for autocert
  internal/autocert/ecdsa_test.go
Due: none
